################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcWamp/bin/Debug
/JsonData/bin/Debug/netstandard2.0
/JsonData/obj
/packages
/WampClient/obj/Debug
/EcWamp/bin/x86/Debug
/EcWamp/obj/x86/Debug
/EcWamp/obj/x86/Release
/WampClient/bin/Debug
/JsonData/bin/x86/Debug/netstandard2.0
/WampClient/bin/x86/Debug
/WampClient/obj/x86/Debug
/EcWamp/bin/x86/Release
/JsonData/bin/Release/netstandard2.0
/WampClient/bin/Release
/WampClient/obj/Release
